@import 'tailwindcss';

@layer components {
  .f-vf-main[data-filetype='text'] {
    .f-vfp-content {
      grid-area: content;
      display: flex;
      flex-direction: column;
    }

    .f-vfp-raw {
      grid-area: raw;
    }

    .f-vfp-transform {
      grid-area: transform;
      display: flex;
      flex-direction: column;
    }

    .f-vfp-nav {
      grid-area: nav;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    &.f-vf-main-1,
    &.f-vf-main-2,
    &.f-vf-main-4,
    &.f-vf-main-8 {
      height: auto;
    }

    &.f-vf-main-1[data-content-mode='graph'] {
      display: block;
      height: calc(100vh - 3rem);

      .f-vfp-content {
        height: 100%;
        width: 100%;
        padding: 0;
        border: 1px solid transparent;
        @apply rounded-lg shadow-sm;
      }
    }

    &.f-vf-main-3 {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 'content raw';
    }

    &.f-vf-main-5 {
      grid-template-columns: 2fr 1fr;
      grid-template-areas: 'content transform';
    }

    &.f-vf-main-6 {
      grid-template-columns: 2fr 1fr;
      grid-template-areas: 'raw transform';
    }

    &.f-vf-main-7 {
      grid-template-columns: 2fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas:
        'content transform'
        'raw     transform';
    }

    &.f-vf-main-9 {
      grid-template-columns: 2fr 1fr;
      grid-template-areas: 'content nav';
    }

    &.f-vf-main-10 {
      grid-template-columns: 2fr 1fr;
      grid-template-areas: 'raw nav';
    }

    &.f-vf-main-11 {
      grid-template-columns: 2fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas:
        'content nav'
        'raw     nav';
    }

    &.f-vf-main-12 {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 'nav  transform';
    }

    &.f-vf-main-13 {
      grid-template-columns: 2fr 1fr 1fr;
      grid-template-areas: 'content nav transform';
    }

    &.f-vf-main-14 {
      grid-template-columns: 2fr 1fr 1fr;
      grid-template-areas: 'raw nav transform';
    }

    &.f-vf-main-15 {
      grid-template-columns: 2fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas:
        'content nav transform'
        'raw     nav transform';
    }
  }
}
