@layer components {
  .vlm-canvas[data-filetype='excalidraw'] {
    .vlm-p-content {
      grid-area: content;
      display: flex;
      justify-content: center;
      padding-bottom: 2rem;
    }

    .vlm-p-literal {
      grid-area: literal;
      display: flex;
      justify-content: center;
      padding-bottom: 2rem;
    }

    &.vlm-canvas-1 {
      display: block;
      height: calc(100vh - 3rem);

      .vlm-p-content {
        position: relative;
        height: 100%;
        width: 100%;
        padding: 0;
        @apply border border-gray-200 dark:border-gray-600 rounded-lg shadow-sm;
      }
    }
  }
}

.vlm-canvas[data-filetype='excalidraw'] {
  .excalidraw {
    &.excalidraw-container {
      width: 100%;
      height: 100%;
    }

    .SVGLayer {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0rem;
      left: 0rem;
    }
  }
}
