@layer components {
  .vlm-canvas[data-filetype='svg'] {
    .vlm-p-content {
      grid-area: content;
      display: flex;
      justify-content: center;
      padding-bottom: 2rem;
      height: 100%;
      overflow: hidden;
    }

    .vlm-p-literal {
      grid-area: literal;
      display: flex;
      justify-content: center;
      padding-bottom: 2rem;
    }

    &.vlm-canvas-1,
    &.vlm-canvas-2 {
      height: auto;
    }

    &.vlm-canvas-3 {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 'content literal';
    }
  }
}
