@layer components {
  .vlm-canvas[data-filetype='text'] {
    .vlm-p-content {
      grid-area: content;
      display: flex;
      flex-direction: column;
    }

    .vlm-p-raw {
      grid-area: raw;
    }

    .vlm-p-transform {
      grid-area: transform;
      display: flex;
      flex-direction: column;
    }

    .vlm-p-nav {
      grid-area: nav;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    &.vlm-canvas-1,
    &.vlm-canvas-2,
    &.vlm-canvas-4,
    &.vlm-canvas-8 {
      height: auto;
    }

    &.vlm-canvas-1[data-content-mode='graph'] {
      display: block;
      height: calc(100vh - var(--v-vlt-height));

      .vlm-p-content {
        height: 100%;
        width: 100%;
        padding: 0;
        @apply border border-gray-200 dark:border-gray-600 rounded-lg shadow-sm;
      }
    }

    &.vlm-canvas-3 {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 'content raw';
    }

    &.vlm-canvas-5 {
      grid-template-columns: 2fr 1fr;
      grid-template-areas: 'content transform';
    }

    &.vlm-canvas-6 {
      grid-template-columns: 2fr 1fr;
      grid-template-areas: 'raw transform';
    }

    &.vlm-canvas-7 {
      grid-template-columns: 2fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas:
        'content transform'
        'raw     transform';
    }

    &.vlm-canvas-9 {
      grid-template-columns: 2fr 1fr;
      grid-template-areas: 'content nav';
    }

    &.vlm-canvas-10 {
      grid-template-columns: 2fr 1fr;
      grid-template-areas: 'raw nav';
    }

    &.vlm-canvas-11 {
      grid-template-columns: 2fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas:
        'content nav'
        'raw     nav';
    }

    &.vlm-canvas-12 {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 'nav  transform';
    }

    &.vlm-canvas-13 {
      grid-template-columns: 2fr 1fr 1fr;
      grid-template-areas: 'content nav transform';
    }

    &.vlm-canvas-14 {
      grid-template-columns: 2fr 1fr 1fr;
      grid-template-areas: 'raw nav transform';
    }

    &.vlm-canvas-15 {
      grid-template-columns: 2fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas:
        'content nav transform'
        'raw     nav transform';
    }
  }
}
