.cache/

credential.json

/copilot/logs

/pm/logs/
/pm/lock/
/pm/config.local.json
/pm/state.json
/pm/state.json*

/proxy/conf/

/repo/repo.*.json
!repo/repo.pub.json
/repo/setting.json

/twitter/cookie.json
