# Key bindings
# A list with all available `key` names can be found here:
# https://docs.rs/glutin/*/glutin/enum.VirtualKeyCode.html#variants
#
# Run "xxd -psd" to find hex codes of keys.
#
# Alacritty + Tmux key integratio
#   `\u0002` is `C-b` as tmux prefix
#   `\u001b` is `Esc`

[keyboard]
bindings = [
  # ----- Alacritty keys ----
  { key = "D",                          mods = "Command",               action = "None" },
  { key = "N",                          mods = "Command",               action = "None" },
  { key = "Q",                          mods = "Command",               action = "None" },
  { key = "W",                          mods = "Command",               action = "None" },
  { key = "F",                          mods = "Command|Control|Shift", action = "ToggleFullscreen" },
  { key = "N",                          mods = "Command|Control|Shift", action = "CreateNewWindow" },
  { key = "V",                          mods = "Command|Control|Shift", action = "ToggleViMode" },
  { key = "W",                          mods = "Command|Control|Shift", action = "Quit" },
  { key = "Z",                          mods = "Command|Control|Shift", action = "ToggleSimpleFullscreen" },
  { key = ")",                          mods = "Command|Control|Shift", action = "ResetFontSize" },
  { key = "Plus",                       mods = "Command|Control|Shift", action = "IncreaseFontSize" },
  { key = "_",                          mods = "Command|Control|Shift", action = "DecreaseFontSize" },

  # ----- status bar -----
  { KEY = "F11",                        MODS = "Command",               chars = "\u0002\u001b[23~" },     # tYPE <ESCAPE>:W<ENTER> TO SAVE IN VIM OR HELIx

  # ----- vim ------
  { key = "S",                          mods = "Command",               chars = "\u001b:w\u000a" },     # Type <escape>:w<enter> to save in vim or helix
  # { key = "S",                          mods = "Command|Shift",         chars = "\u001b:wa\u000a" },    # Type <escape>:wa<enter> to save in vim or helix

  # ----- tmux session / window /pane -----
  { key = "D",                          mods = "Command|Shift",         chars = "\u0002\u0044" },       # <Ctrl-b>D
  { key = "S",                          mods = "Command|Shift",         chars = "\u0002\u0053" },       # <Ctrl-b>S

  ## ---- Rename ----

  ## ---- Create ----
  { key = "N",                          mods = "Command|Control",       chars = "\u0002\u000e" },       # <Ctrl-b><Ctrl-n>
  { key = "J",                          mods = "Command|Control",       chars = "\u0002\u000a" },       # <Ctrl-b><Ctrl-j>
  { key = "L",                          mods = "Command|Control",       chars = "\u0002\u000c" },       # <Ctrl-b><Ctrl-l>

  ## ---- Join ----
  { key = "B",                          mods = "Command|Control",       chars = "\u0002\u0002" },       # <Ctrl-b><Ctrl-b>

  ## ---- Kill ----
  { key = "O",                          mods = "Command|Control",       chars = "\u0002\u000f" },       # <Ctrl-b><Ctrl-o>
  { key = "W",                          mods = "Command|Control",       chars = "\u0002\u0017" },       # <Ctrl-b><Ctrl-w>
  { key = "P",                          mods = "Command|Control",       chars = "\u0002\u0010" },       # <Ctrl-b><Ctrl-p>


  ## ---- Resize ----
  { key = "Up",                         mods = "Command|Control",       chars = "\u0002\u001b[1;5A" },  # <Ctrl-b><Ctrl-Up>
  { key = "Right",                      mods = "Command|Control",       chars = "\u0002\u001b[1;5C" },  # <Ctrl-b><Ctrl-Right>
  { key = "Down",                       mods = "Command|Control",       chars = "\u0002\u001b[1;5B" },  # <Ctrl-b><Ctrl-Down> 
  { key = "Left",                       mods = "Command|Control",       chars = "\u0002\u001b[1;5D" },  # <Ctrl-b><Ctrl-Left>
  { key = "Z",                          mods = "Command|Control",       chars = "\u0002\u001a" },       # <Ctrl-b><Ctrl-z>

  ## ---- Swap ----
  # { key = "Up",                         mods = "Command",               chars = "\u0002\u001b[A" },     # <Ctrl-b>Up
  # { key = "Right",                      mods = "Command",               chars = "\u0002\u001b[C" },     # <Ctrl-b>Right
  # { key = "Down",                       mods = "Command",               chars = "\u0002\u001b[B" },     # <Ctrl-b>Down
  # { key = "Left",                       mods = "Command",               chars = "\u0002\u001b[D" },     # <Ctrl-b>Left
  { key = "K",                          mods = "Command|Shift",         chars = "\u0002\u004b" },       # <Ctrl-b>K
  { key = "L",                          mods = "Command|Shift",         chars = "\u0002\u004C" },       # <Ctrl-b>L
  { key = "J",                          mods = "Command|Shift",         chars = "\u0002\u004a" },       # <Ctrl-b>J
  { key = "H",                          mods = "Command|Shift",         chars = "\u0002\u0048" },       # <Ctrl-b>H
  { key = "{",                          mods = "Command|Shift",         chars = "\u0002\u007b" },       # <Ctrl-b>{
  { key = "}",                          mods = "Command|Shift",         chars = "\u0002\u007d" },       # <Ctrl-b>}
  { key = "<",                          mods = "Command|Shift",         chars = "\u0002\u003c" },      # <Ctrl-b><
  { key = ">",                          mods = "Command|Shift",         chars = "\u0002\u003e" },      # <Ctrl-b>>

  ## ---- Focus ----
  { key = "Key1",                       mods = "Command",               chars = "\u0002\u0031" },       # <Ctrl-b>1
  { key = "Key2",                       mods = "Command",               chars = "\u0002\u0032" },       # <Ctrl-b>2
  { key = "Key3",                       mods = "Command",               chars = "\u0002\u0033" },       # <Ctrl-b>3
  { key = "Key4",                       mods = "Command",               chars = "\u0002\u0034" },       # <Ctrl-b>4
  { key = "Key5",                       mods = "Command",               chars = "\u0002\u0035" },       # <Ctrl-b>5
  { key = "Key6",                       mods = "Command",               chars = "\u0002\u0036" },       # <Ctrl-b>6
  { key = "Key7",                       mods = "Command",               chars = "\u0002\u0037" },       # <Ctrl-b>7
  { key = "Key8",                       mods = "Command",               chars = "\u0002\u0038" },       # <Ctrl-b>8
  { key = "Key9",                       mods = "Command",               chars = "\u0002\u0039" },       # <Ctrl-b>9
  { key = "Key0",                       mods = "Command",               chars = "\u0002\u0030" },       # <Ctrl-b>0
  { key = "[",                          mods = "Command",               chars = "\u0002\u005b" },       # <Ctrl-b>[
  { key = "]",                          mods = "Command",               chars = "\u0002\u005d" },       # <Ctrl-b>]
  { key = "K",                          mods = "Command",               chars = "\u0002\u006b" },       # <Ctrl-b>k
  { key = "L",                          mods = "Command",               chars = "\u0002\u006c" },       # <Ctrl-b>l
  { key = "J",                          mods = "Command",               chars = "\u0002\u006a" },       # <Ctrl-b>j
  { key = "H",                          mods = "Command",               chars = "\u0002\u0068" },       # <Ctrl-b>h

  ## ---- Copy/Paste ----
  { key = "V",                          mods = "Command",               action = "Paste"       },
  { key = "Insert",                     mods = "Control",               action = "Copy"        },
  { key = "Insert",                     mods = "Shift",                 action = "Paste"       },
  
  ## ---- Misc ----
  { key = "A",                          mods = "Command",               chars = "\u0002\u0061" },       # <Ctrl-b>a
  { key = "C",                          mods = "Command",               chars = "\u0002\u0063" },       # <Ctrl-b>c
  { key = "G",                          mods = "Command",               chars = "\u0002\u0067" },       # <Ctrl-b>g
  { key = "I",                          mods = "Command",               chars = "\u0002\u0069" },       # <Ctrl-b>i
  { key = "O",                          mods = "Command",               chars = "\u0002\u006f" },       # <Ctrl-b>o
  { key = "R",                          mods = "Command",               chars = "\u0002\u0072" },       # <Ctrl-b>r
  { key = "T",                          mods = "Command",               chars = "\u0002\u0074" },       # <Ctrl-b>t
  # { key = "V",                          mods = "Command",               chars = "\u0002\u0076" },       # <Ctrl-b>v
  { key = ":",                          mods = "Command|Shift",         chars = "\u0002\u003a" },       # <Ctrl-b>:

  ## ---- preserved ----
  { key = "Key1",                       mods = "Command|Control",       chars = "\u0002\u001b[49;5u" }, # <Ctrl-b><Ctrl-1>
  { key = "Key2",                       mods = "Command|Control",       chars = "\u0002\u001b[50;5u" }, # <Ctrl-b><Ctrl-2>
  { key = "Key3",                       mods = "Command|Control",       chars = "\u0002\u001b[51;5u" }, # <Ctrl-b><Ctrl-3>
  { key = "Key4",                       mods = "Command|Control",       chars = "\u0002\u001b[52;5u" }, # <Ctrl-b><Ctrl-4>
  { key = "Key5",                       mods = "Command|Control",       chars = "\u0002\u001b[53;5u" }, # <Ctrl-b><Ctrl-5>
  { key = "Key6",                       mods = "Command|Control",       chars = "\u0002\u001b[54;5u" }, # <Ctrl-b><Ctrl-6>
  { key = "Key7",                       mods = "Command|Control",       chars = "\u0002\u001b[55;5u" }, # <Ctrl-b><Ctrl-7>
  { key = "Key8",                       mods = "Command|Control",       chars = "\u0002\u001b[56;5u" }, # <Ctrl-b><Ctrl-8>
  { key = "Key9",                       mods = "Command|Control",       chars = "\u0002\u001b[57;5u" }, # <Ctrl-b><Ctrl-9>
  { key = "Key0",                       mods = "Command|Control",       chars = "\u0002\u001b[48;5u" }, # <Ctrl-b><Ctrl-0>
]

