@layer components {
  .vl-root:where([data-scenario='file']) {
    --v-vlt-height: 3rem;

    box-sizing: border-box;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: var(--v-vlt-height) 1fr;
    grid-template-areas:
      'topbar'
      'main';
    width: 100%;
    min-height: 100vh;
    font-family: 'Maple Mono NF CN', 'Roboto Mono', monospace, sans-serif;

    @apply transition-colors duration-300 ease-in-out bg-gray-50 text-gray-800 dark:bg-gray-800 dark:text-gray-200;

    .vl-topbar {
      box-sizing: border-box;
      position: sticky;
      top: 0;
      left: 0;
      z-index: 10;
      grid-area: topbar;
      height: var(--v-vlt-height);
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 1rem;
      padding-left: 1rem;
      padding-right: 1rem;

      @apply bg-gray-50 dark:bg-gray-800;

      .vlt-leftest,
      .vlt-rightest {
        box-sizing: border-box;
        flex: 0 0 auto;
      }

      .vlt-left,
      .vlt-right {
        box-sizing: border-box;
        flex: 0 1 auto;
      }

      .vlt-middle {
        box-sizing: border-box;
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }

    .vl-main {
      box-sizing: border-box;
      grid-area: main;
      width: 100%;
      min-width: 0;
      height: 100%;
      padding: 0;
      overflow: auto;
    }

    .vlm-canvas {
      box-sizing: border-box;
      grid-area: main;
      width: 100%;
      padding: 1rem;
      padding-top: 0;

      .vlm-pane {
        position: relative;
        box-sizing: border-box;
        min-height: calc(100vh - 1rem - var(--v-vlt-height));
        border-width: 1rem 0.5rem;

        @apply shadow-lg rounded-lg border-transparent
          backdrop-blur-md backdrop-saturate-150 bg-white/70 dark:bg-gray-700/80
          text-slate-800  dark:text-gray-200;
      }

      &:has(.vlm-pane:nth-of-type(2)) {
        display: grid;
        gap: 1rem;
        height: calc(100vh - var(--v-vlt-height));

        .vlm-pane {
          height: 100%;
          width: 100%;
          padding-left: 0.5rem;
          padding-right: 0.5rem;
          overflow: auto;
        }
      }
    }
  }
}
