@layer components {
  .vlm-canvas[data-filetype='markdown'] {
    .vlm-p-content {
      grid-area: content;
      display: flex;
      justify-content: center;
      padding-bottom: 2rem;
    }

    .vlm-p-ast {
      grid-area: ast;
      display: flex;
      justify-content: center;
    }

    .vlm-p-toc {
      grid-area: toc;
      display: flex;
      flex-direction: column;
    }

    .vlm-p-fm {
      grid-area: fm;
      display: flex;
      flex-direction: column;
    }

    &.vlm-canvas-1,
    &.vlm-canvas-2,
    &.vlm-canvas-4,
    &.vlm-canvas-8 {
      height: auto;
    }

    &.vlm-canvas-3 {
      grid-template-columns: 2fr 1fr;
      grid-template-areas: 'content ast';
    }

    &.vlm-canvas-5 {
      grid-template-columns: 2fr 1fr;
      grid-template-areas: 'content toc';
    }

    &.vlm-canvas-6 {
      grid-template-columns: 2fr 1fr;
      grid-template-areas: 'ast toc';
    }

    &.vlm-canvas-7 {
      grid-template-columns: 2fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas:
        'content toc'
        'content ast';
    }

    &.vlm-canvas-9 {
      grid-template-columns: 2fr 1fr;
      grid-template-areas: 'content fm';
    }

    &.vlm-canvas-10 {
      grid-template-columns: 2fr 1fr;
      grid-template-areas: 'ast fm';
    }

    &.vlm-canvas-11 {
      grid-template-columns: 2fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas:
        'content ast'
        'content fm';
    }

    &.vlm-canvas-12 {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 'toc fm';
    }

    &.vlm-canvas-13 {
      grid-template-columns: 2fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas:
        'content toc'
        'content fm';
    }

    &.vlm-canvas-14 {
      grid-template-columns: 2fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas:
        'ast toc'
        'ast fm';
    }

    &.vlm-canvas-15 {
      grid-template-columns: 2fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas:
        'content ast toc'
        'content ast fm';
    }
  }
}
