.f-vf-root[data-filetype='markdown'] {
  .f-vfp-content {
    grid-area: content;
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
  }

  .f-vfp-ast {
    grid-area: ast;
    display: flex;
    justify-content: center;
  }

  .f-vfp-toc {
    grid-area: toc;
    display: flex;
    flex-direction: column;
  }

  .f-vfp-fm {
    grid-area: fm;
    display: flex;
    flex-direction: column;
  }

  .f-vf-main-1,
  .f-vf-main-2,
  .f-vf-main-4,
  .f-vf-main-8 {
    height: auto;
  }

  .f-vf-main-3 {
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 'content ast';
  }

  .f-vf-main-5 {
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 'content toc';
  }

  .f-vf-main-6 {
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 'ast toc';
  }

  .f-vf-main-7 {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      'content toc'
      'content ast';
  }

  .f-vf-main-9 {
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 'ast fm';
  }

  .f-vf-main-10 {
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 'ast fm';
  }

  .f-vf-main-11 {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      'content ast'
      'content fm';
  }

  .f-vf-main-12 {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'toc fm';
  }

  .f-vf-main-13 {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      'content toc'
      'content fm';
  }

  .f-vf-main-14 {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      'ast toc'
      'ast fm';
  }

  .f-vf-main-15 {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      'content ast toc'
      'content ast fm';
  }
}
